*
*/
!*/

# git
!README.md
!.gitignore
!.config/git/ignore

# Setup files
!install
!setup

# Editor
!.editorconfig
!.prettierrc
!.prettierignore

# Vim
!.config/vim/init.vim

# Neovim
!.config/nvim/init.lua
!.config/nvim/lua/*

# Fish
!.config/fish/config.fish
!.config/fish/config-darwin.fish
!.config/fish/config-linux.fish
